// Colors
// ==================================================
$white: #fff;
$black: #000;

$grey-lightest: #fafafa;
$grey-lighter : #f4f4f4;
$grey-light   : #dcdcdc;
$grey         : #828282;
$grey-dark    : #424242;

$blue      : #0ea0d6;
$red       : #f15e33;
$green     : #00be1c;
$green-dark: #1bb029;
